.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.App button {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}
.App button:active {
  opacity: 0.5;
  box-shadow: 0 0 15px 0 rgba(34, 60, 80, 0.2);
}
.App__container {
  width: 45%;
}

